@using Models.Writings
@using WritingPlatform.Helpers


@model WritingsViewModel
@{
    ViewBag.Title = "Мои произведения";
}

<div>
    <table class="table table-striped">
        <tr class="info">
            <th>Название</th>
            <th>Жанр</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Writings)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Genre</td>
                <td>
                    @Html.ActionLink("Подробнее", "Id",
              new { Controller = "MyWritings", Id = item.Id },
              new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </table>
    <br />
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", "MyWritings", new { page = x }))
    </div>
</div>